<main id="jogos">
  <section class="container-jogos">
    <div
      class="card-jogo"
      *ngFor="let jogo of jogos"
      (click)="irParaJogo(jogo.rota)"
    >
      <div class="card-imagem" [innerHTML]="jogo.svg | safeHtml"></div>
      <div class="card-info">
        <h3 class="nome-jogo">{{ jogo.nome }}</h3>
        <p class="descricao-jogo">{{ jogo.descricao }}</p>
        <button
          class="btn-jogar"
          (click)="irParaJogo(jogo.rota); $event.stopPropagation()"
          [attr.aria-label]="'Jogar ' + jogo.nome"
        >
          Jogar
        </button>
      </div>
    </div>
  </section>
</main>
