<main id="jogos">
  <section class="jogos__container">
    <article
      class="jogo__card"
      *ngFor="let jogo of jogos"
      (click)="irParaJogo(jogo.rota)"
    >
      <div class="jogo__imagem" [innerHTML]="jogo.svg | safeHtml"></div>
      <div class="jogo__conteudo">
        <h3 class="jogo__nome">{{ jogo.nome }}</h3>
        <p class="jogo__descricao">{{ jogo.descricao }}</p>
        <button
          class="jogo__botao"
          (click)="irParaJogo(jogo.rota); $event.stopPropagation()"
          [attr.aria-label]="'Jogar ' + jogo.nome"
        >
          Jogar
        </button>
      </div>
    </article>
  </section>
</main>
